<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Let's make games with me</a></h1>

        <h3>
          <a name="lets-make-games-with-me" class="anchor" href="#lets-make-games-with-me">
            <span class="octicon octicon-link"></span></a>
            Game Designs for everyone.<br/>
            <small style="font-weight:normal;">you get to learn what makes a great game.</small>
        </a>
        </h3>

        <ul>
          <h4 class="list_header">Recent Posts</h4>
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <a href="https://twitter.com/kenzan100" target="_blank">
          <img style="width:70px; border-radius:40px;" alt="me icon" src="https://pbs.twimg.com/profile_images/481279964092694528/5ZBROy_f_400x400.jpeg"/>
        </a>
        <p class="view"><a target="_blank" href="https://twitter.com/kenzan100">@kenzan100(author)</a></p>
        <p class="view"><a target="_blank" href="https://github.com/kenzan100">View My GitHub Profile</a></p>

      </header>
      <section>

        {{ content }}

        {% include footer.html %}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-52263795-1");
            pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>

  </body>
</html>
